@page "/customers/add"
@using Blazor.Models
@inject HttpClient http
@inject NavigationManager navigationManager

<div class="container">
    <EditForm class="my-5" Model="customer" OnSubmit="@CreateCustomer">
        <h5 class="mb-3">Skapa Kund!</h5>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Förnamn..." @bind="customer.FirstName" />

                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Efternamn..." @bind="customer.LastName" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="E-postadress..." @bind="customer.Email" />
        </div>

        <button type="submit" class="btn btn-primary">Skapa Kund</button>
    </EditForm>
</div>

@code {

    CustomerClass customer = new CustomerClass();

    private async Task CreateCustomer()
    {
        await http.PostJsonAsync("http://localhost:53738/api/customers", customer);
        navigationManager.NavigateTo("customers");
    }
}
